.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.dialog {
  background-color: white;

  border-radius: 8px;
  margin: 20px;
  max-width: 80%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.dialog-header-container {
  padding: 20px;
}
.dialog-header {
  margin: 0;
  font-size: 24px;
  color: black;
}

.close-button {
  position: absolute;
  color: black;
  top: 0px;
  right: 5px;
  font-size: 30px;
  cursor: pointer;
}

.dialog-content {
  margin: 20px;
  color: black;
}

.dialog-actions {
  display: flex;
  justify-content: center;
}
